In [6]:
x = 2
if x==2:
    pass

In [7]:
while x<10:
    print('too low',x)
    x+=1
else:
    print('too high',x)

too low 2
too low 3
too low 4
too low 5
too low 6
too low 7
too low 8
too low 9
too high 10

In [9]:
x = ['Ali', 'Reza', 'Hasan', 'Niloofar', 'Fateme']

In [10]:
while x:
    print(x.pop())

Fateme
Niloofar
Hasan
Reza
Ali

In [17]:
 n = 10
 while n:
    print(n**0)
    n-=1

1
1
1
1
1
1
1
1
1
1

In [19]:
x=5
while x<10:
    print(x)
    x+=1
else:
    print('too high',x)

5
6
7
8
9
too high 10

In [27]:
# Method 1: Using slicing (most Pythonic)
original_list = [1,2,3,4,5,6,7]
reversed_list = original_list[::-1]
print("Method 1 (slicing):", reversed_list)

# Method 2: Using reverse() method (modifies original list)
list2 = [1,2,3,4,5,6,7]
list2.reverse()
print("Method 2 (reverse method):", list2)

# Method 3: Manual reversal with indices
list3 = [1,2,3,4,5,6,7]
for i in range(len(list3) // 2):
    list3[i], list3[-(i+1)] = list3[-(i+1)], list3[i]
print("Method 3 (manual swap):", list3)

# Method 4: Using enumerate to get indices
list4 = [1,2,3,4,5,6,7]
for i, value in enumerate(list4):
    if i < len(list4) // 2:
        list4[i] = list4[-(i+1)]
        list4[-(i+1)] = value
print("Method 4 (enumerate):", list4)

Method 1 (slicing): [7, 6, 5, 4, 3, 2, 1]
Method 2 (reverse method): [7, 6, 5, 4, 3, 2, 1]
Method 3 (manual swap): [7, 6, 5, 4, 3, 2, 1]
Method 4 (enumerate): [7, 6, 5, 4, 3, 2, 1]

In [28]:
d = {'a':1, 'b':2, 'c':3}
for key, value in d.items():
    print(key, value)

a 1
b 2
c 3

In [8]:
dict = {'a':1, 'b':2, 'c':3}
for key in dict.items():
    print(key)

('a', 1)
('b', 2)
('c', 3)

In [10]:
def func(price):
    return price * 1.2
first_list=[100,120,140,160,180]
map(func,list)

In [14]:
[i ** 2 for i in range(5,16)]

[25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [15]:
[p * 1.2 for p in first_list]

[120.0, 144.0, 168.0, 192.0, 216.0]

In [16]:
names = ['Ali',  'Reza',  'Hasan', 'Mohsen']
[n for n in names if 'R' in n]

['Reza']

In [17]:
d = { 
    'Ali' : 'Hejazi',
    'Niloufar' : 'Unknown',
    'Pouria' : 'Tofighi',
}

## mapping with :

In [19]:
{value: key for key, value in d.items()}

{'Hejazi': 'Ali', 'Unknown': 'Niloufar', 'Tofighi': 'Pouria'}